<!doctype html>
<!-- body -->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">{{title}}</h4>
		</div>
		{{#if books}}
		<table class="table table-striped table-hover table-condensed" style="table-layout:fixed;">
			<thead>
				<tr>
					<th><a class="btn btn-lg btn-link btn-block">Title</a></th>
					<th><a class="btn btn-lg btn-link btn-block">Author</a></th>
					<th><a class="btn btn-lg btn-link btn-block">Type</a></th>
				</tr>
			</thead>
			<tbody>
				{{#each books}}
				<tr>
					<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><a class="btn btn-link btn-block">{{title}}</a></td>
					<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><a class="btn btn-link btn-block">{{authors}}</a></td>
					<td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><a class="btn btn-link btn-block">{{publication_type}}</a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{else}}
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<div class="form-group alert alert-danger">
						<span>{{msg}}</span>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>